<div>
    <h1>Code generator</h1>
    <button (click)="generateCodeList()">Generate codelist</button>

    <div class="container-list">
        <p *ngFor="let item of (codeList$ | async)">{{item}}</p>
    </div>

</div>